{% extends "airline/index.html" %}
{% block content %}
{% if user.groups.all.0.name == "Staff" or request.user.is_superuser %}
<main class="d-flex flex-wrap mt-4 justify-content-center">
    <header class="col-12 text-center">
        <h1>Choose a data to load:</h1>
    </header>
    <section class="card shadow p-3 m-2 bg-white rounded">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <label class="form-label fw-bold" for="airport">Quantity of random airport to load: (2-250)</label>
                <input class="form-control my-2" placeholder="Airport" type="number" name="airport" min="2" max="250">
                <button class="btn btn-success form-control form-control-sm" type="submit">Upload airport Data</button>
            </form>
        </div>
    </section>

    <section class="card shadow p-3 m-2 bg-white rounded">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <label class="form-label fw-bold" for="flight">Quantity of fake flight to load: (1-100)</label>
                <input class="form-control my-2" placeholder="Flight" type="number" name="flight" min="1" max="100">
                <button class="btn btn-success form-control form-control-sm" type="submit">Upload flight Data</button>
            </form>
    </div>
    </section>

    <section class="card shadow p-3 m-2 bg-white rounded">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <label class="form-label fw-bold" for="passager">Quantity of fake passager to create: (1-100)</label>
                <input class="form-control my-2" placeholder="Passager" type="number" name="passager" min="1" max="100">
                <button class="btn btn-success form-control form-control-sm" type="submit">Upload passager Data</button>
            </form>
        </div>
    </section>
</main>
{% else %}
<h1 class="align-middle text-center"><a href="/airline/"> Sory,you have no permission for this page</a></h1>
{% endif %}
{% endblock %}
