{% extends "airline/index.html" %}

{% block content %}
{{countries}}
{{airport}}
<div style="max-height: 250px; overflow: auto;">{{ map|safe }}</div>
<div class="p-3 bg-info text-white text-center" style="position: absolute;  width: 100%;">
    <h1 class="text-shadow" style="text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5)">      
        All flight registered for {{airport}} 
    </h1>
    <div style="border-width: 2px; border-style: solid; border-color: black; overflow-x: auto;" class="shadow-lg p-3 mb-5 bg-white rounded">   
        <table id="table_1" style="overflow-x: auto;" class="table table-striped table-secondary border border-dark shadow p-3 mb-5 bg-white rounded">
            <thead>
                <div class="p-3 mt-0 bg-light text-dark text-center border border-dark ">
                    <h2>Flight to {{airport}}:</h2>
                    <tr class="text-left">
                        <th>Flight id: </th>
                        <th>
                            Flight start: 
                            <input class="align-middle" type="text" id="start" placeholder="Search start country...">
                            <input type="hidden" class="align-middle" type="text" id="destination" placeholder="Search destination country...">
                        </th>
                        <th>Flight date: </th>
                    </tr>
                </div>
            </thead>
            <tbody id="flight-table-body" class="text-left">
                {% if airport.departure_flights.all %}
                    {% for fli in airport.arrival_flights.all|dictsort:"date" %}
                        <tr data-start="{{fli.start.country}}" data-destination="{{fli.destination.country}}" data-date="{{fli.date}}">
                            <td><a href="/airline/flight/{{fli.id}}">{{fli.id}}</a></td>
                            <td><a href="/airline/airport/{{fli.start.airport_id}}">{{fli.start}} ({{fli.start.city}} in {{fli.start.country}})</a></td>
                            <td>{{fli.date}}</td>
                            
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td>No flight to this airport</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div style="border-width: 2px; border-style: solid; border-color: black; overflow-x: auto;" class="shadow-lg p-3 mb-5 bg-white rounded"> 
        <table id="table" class="table table-striped table-secondary border border-dark shadow p-3 mb-5 bg-white rounded">
            <thead>
                <div class="p-3 mt-2 bg-light text-dark border border-dark ">
                    <h2>Flight from {{airport}}:</h2>
                    <tr class="text-left">
                        <th>Flight id: </th>
                        <th>Flight destination: 
                            <input type="hidden" class="align-middle" type="text" id="start" placeholder="Search start country...">
                            <input class="align-middle" type="text" id="destination" placeholder="Search destination country...">
                        </th>
                        <th>Flight date: </th>
                    </tr>
                </div>
            </thead>
            <tbody class="text-left">
                {% if airport.arrival_flights.all %}
                    {% for fli in airport.arrival_flights.all|dictsort:"date" %}
                        <tr data-start="{{fli.start.country}}" data-destination="{{fli.destination.country}}" data-date="{{fli.date}}">
                            <td><a href="/airline/flight/{{fli.id}}">{{fli.id}}</a></td>
                            <td><a href="/airline/airport/{{fli.start.airport_id}}">{{fli.start}} ({{fli.start.city}} in {{fli.destination.country}})</a></td>
                            <td>{{fli.date}}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>No flight from this airport</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}