{% extends "airline/index.html" %}
{% block content %}

<div style="max-height: 250px; overflow: auto; ">
 
    {{ map|safe }}
</div>

    <div class="p-3 mb-0 bg-info text-white text-center">
        <h1 class="display-3 ">
            
        All flight registered for {{airport}}
        
        </h1>
<table class="table table-striped table-secondary border border-dark shadow-lg p-3 mb-5 bg-white rounded">
    
    <thead>
        <tr>
            <div class="p-3 mt-0 bg-light text-dark text-center border border-dark ">
                <h2>Flight to {{airport}}:</h2></div>
        </tr>
        
        <tr class="text-left">
            <th>Flight id: </th>
            <th>Flight start: </th>
            <th>Flight date: </th>
        </tr>
        
        </div>
    </thead>
    <tbody class="text-left">
        {% if airport.departure_flights.all %}
            {% for fli in airport.departure_flights.all %}
                <tr >
                        <td><a href="/airline/flight/{{fli.id}}">{{fli.id}}</a></td>
                        <td><a href="/airline/airport/{{fli.destination.airport_id}}">{{fli.destination}} ({{fli.destination.city}} in {{fli.destination.country}})</a></td>
                        <td>{{fli.date}}</td>
                </tr>
            
            {% endfor %}
        {% else %}
                <tr>
                    <td>No flight to this airport</td>
                </tr>
        {% endif %}
    </tbody>
</table>

<table class="table table-striped table-secondary border border-dark shadow-lg p-3 mb-5 bg-white rounded">
    <thead>
        <div class="p-3 mt-2 bg-light text-dark border border-dark ">
        <h2>Flight from {{airport}}:</h2>
        <tr class="text-left">
            <th>Flight id: </th>
            <th>Flight destination: </th>
            <th>Flight date: </th>
        </tr>
        </div>
    </thead>
    <tbody class="text-left">
        
        {% if airport.arrival_flights.all %}
            {% for fli in airport.arrival_flights.all %}
            <tr>
                <td><a href="/airline/flight/{{fli.id}}">{{fli.id}}</a></td>
                <td><a href="/airline/airport/{{fli.start.airport_id}}">{{fli.start}} ({{fli.start.city}} in {{fl.destination.country}})</a></td>
                <td>{{fli.date}}</td>
            </tr>
            
            {% endfor %}
        {% else %}
            <tr>
                <td>No flight from this airport</td>
            </tr>
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}