{% extends "airline/index.html" %}{% block title %}{{airport.name}}{% endblock %}
{% block content %}
<div class="map">{{ map|safe }}</div>
<header>
   <h1 class="banner-text m-4">
      All flight registered for {{airport}} 
   </h1>
</header>
{% if airport.arrival_routes.all %}
   <h2 class="card card-title">Flight to {{airport}}:</h2>
   <section class="card-container">
      {% for route in airport.arrival_routes.all|dictsort:"id" %}
         <div class="card m-3">
            <h3>{{route.start.airport_id}}</h3>
            <h3> 
               <a class="link-dark" href="{% url 'airline:airport' route.start.airport_id %}">{{route.start.city}} in {{route.start.country}}</a>
            </h3>
            {% if route.flights.all %}
               {% for flight in route.flights.all|dictsort:"date" %}
                  <div class="mt-2">
                     <a class="btn btn-success" href="{% url 'airline:flight' flight.id %}">{{ flight.date|date:"h:i - d/m/Y" }}</a>
                  </div>
               {% endfor %}
            {% else %}
                  <p>Sory, currently there is no planned flight on this route</p>
            {% endif %}
         </div>
      {% endfor %}
   </section>
{% endif %}
{% if airport.departure_routes.all %}
   <h2 class="card card-title">
      Flight from {{airport}}:
   </h2>
   <section class="card-container">
      {% for route in airport.departure_routes.all|dictsort:"id" %}
         <div class="card m-3">
               <h3>
                  <a class="link-dark" href="{% url 'airline:airport' route.destination.airport_id %}">{{route.destination.city}} in {{route.destination.country}}</a>
               </h3>
               {% if route.flights.all %}
                  {% for flight in route.flights.all|dictsort:"date" %}
                     <div class="mt-2">
                        <a class="btn btn-success" href="{% url 'airline:flight' flight.id %}">{{ flight.date|date:"h:i - d/m/Y" }}</a>
                     </div>
                  {% endfor %}
               {% else %}
                  <p>Sory, currently there is no planned flight on this route</p>
               {% endif %}
            </div>
         </div>
      {% endfor %}
   </section>
{% endif %}
{% endblock %}
