{% extends "airline/index.html" %}
{% block content %}
<table class="table" id="route_table1">
   <thead>
      <tr class="bg-info">
         <th>Route number: </th>
         <th>
            <label for="start2">Start: </label>
            {% if countries|length > 5 %}
            <input type="text" id="start2" placeholder="Search start country...">
            {% else %}
            <select id="start2">
               <option value="">All</option>
               {% for country in countries %}
               <option value="{{country}}">{{country}}</option>
               {% endfor %}
            </select>
            {% endif %}
         </th>
         <th>
            <label for="destination2">Destination: </label>
            {% if countries|length > 5 %}
            <input  type="text" id="destination2" placeholder="Search destination country...">
            {% else %}
            <select  id="destination2">
               <option value="">All</option>
               {% for country in countries %}
               <option value="{{country}}">{{country}}</option>
               {% endfor %}
            </select>
            {% endif %}
         </th>
         <th class="text-center">Date: </th>
      </tr>
   </thead>
   <tbody id="route-table-body" >
      {% if routes %}
      {% for route in routes %}
      <tr data-start2="{{route.start.country}}" data-destination2="{{route.destination.country}}" data-date="#">
         <td><a href=/airline/routes/{{route.id}}>{{route}}</a></td>
         <td><a href=/airline/airport/{{route.start.airport_id}}>{{route.start}} ({{route.start.city}} in {{route.start.country}})</a></td>
         <td><a href=/airline/airport/{{route.destination.airport_id}}>{{route.destination}} ({{route.destination.city}} in {{route.destination.country}})</a></td>
         <td>
            <table id="flight_date" class="table table-bordered text-center">
               <tr>
                  {% for flight in route.flights.all|dictsort:"date" %}
                  {% if forloop.counter <= 5 %}
                  {% if forloop.counter0|divisibleby:3 %}
               </tr>
               <tr>
                  {% endif %}
                  <td><a href=/airline/flight/{{flight.id}}>{{ flight.date|date:"d/m/Y" }}</a></td>
                  {% elif forloop.counter == 6 %}
                  <td colspan="3"><a href=/airline/routes/{{route.id}}>and {{ route.flights.all|length|add:-5 }} more...</a></td>
                  {% endif %}
                  {% endfor %}
               </tr>
            </table>
         </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
         <td>Sorry, currently no flight data are avaible</td>
      </tr>
      {% endif %}
   </tbody>
</table>
{% endblock %}
