{% extends "airline/index.html" %}{% block title %}Flight Number: {{flight.id}}{% endblock %}
{% block content %}
<div class="map">{{ map|safe }}</div>
<header>
   <h1 class="banner-text m-4 ">
      Flight "{{flight.id}}"
      from: <a class="link-secondary" href="{% url 'airline:airport' flight.start.airport_id %}">{{flight.start}}</a>
      to: <a class="link-secondary" href="{% url 'airline:airport' flight.destination.airport_id %}">{{flight.destination}}</a>
      (route {% for route in flight.routes.all %} <a class="link-secondary" id="route" href="{% url 'airline:routes' route.id %}">{{route}}</a>{% endfor %})
      on {{flight.date}}
   </h1>
</header>
{% if request.user.is_staff or request.user.is_superuser %}
   <section class="card-container m-3">
   <div class="card card-container flex-row card-passager">
         <h2 class="banner-text w-100 mb-3">All of the passagers {% if flight.passengers_flights.all %}({{ flight.passengers_flights.all|length }}):{% endif %}</h2>
      {% if flight.passengers_flights.all %}
         {% for passager in flight.passengers_flights.all|dictsort:"surname" %}
         <div class="m-2 col-sm-12 col-md-2">
            <a class="btn btn-success" href="{% url 'airline:passager' passager.id %}">{{passager.first_name}} {{passager.surname}}</a>
         </div>
         {% endfor %}
      {% else %}
         <span>No passager</span>
      {% endif %}
   </div>
   </section>
{% else %}
   {% if user.is_authenticated %}
   <section class="card-container">
      <div class="card m-3 ">
         {% for passager in user.passager_user.all %}
            {% if user.passager_user.first in flight.passagers.all %}
               <h2 class="text-danger banner-text">You are signed up for this flight</h2>
               <small class="m-2">If you want to check out, contact with us and we will try to help you</small>
            {% else %}
               <h2 class="text-danger banner-text">You are not signed up for this flight</h2>
               <form id="record" method="POST">{% csrf_token %}</form>
               <button type="submit" form="record" class="btn btn-success fw-bold">Sign up</button>
            {% endif %}
         {% endfor %}
         </div>
      </section>
   {% endif %}
{% endif %}
   </section>
{% endblock %}
