{% extends "airline/index.html" %}
{% block content %}
<div class="d-flex justify-content-center">
<div class="text-center">
   {% if map %}
      <head class="mb-1">
         <h1 class="banner-text">Full map:</h1>
         <small><a href="{% url 'airline:full_data_user' %}">If you prefer table view, click here</a></small>
      </head>
      <main class="d-inline-block min-vh-75 vw-100">
         <div class="nowrap"> {{ map|safe }} </div>
      </main>
   {% else %}
      <div class="d-flex flex-wrap flex-column align-items-center">
         <p class="text-center m-4 display-4">No flight with this data</p>
         <a class="btn btn-success m-2 p-1 col-3" href="{% url 'airline:main' %}" role="button" id="main_site">Back to the Main Site</a>
         <a class="btn btn-success m-1 p-1 col-3" href="{% url 'airline:full_map' %}" role="button">
         Check Every Possible Flight in our Airline
         </a>
      </div>
   {% endif %}
</div>
{% endblock %}
