{% extends "airline/index.html" %}
{% block content %}
<div class="p-3 bg-info text-white text-center airport-main background custom-height">
  <h1 class="align-middle text-center m-4 text-shadow airport-title banner-text">New Message</h1>
   
  <form method="post" id="message" action="{% url 'airline:create_message' %}">
   {% csrf_token %}
   {{ form.as_p }}
   <input type="hidden" name="validator_field" value="message">
   <input type="hidden" name="recipient" value="{{user_id}}">
   <button type="submit" class="btn btn-primary">Send Message</button>
 </form>
</div>
{% endblock %}
