{% extends "airline/index.html" %}{% block title %}Passager: {{passager.first_name}} {{passager.surname}}{% endblock %}
{% block content %}
<header>
   <h1 class="banner-text m-4">
      Flights registered for: {{passager.first_name}} {{passager.surname}}
   </h1>
</header>
<section class="card-container">
   {% if passager.flight_passagers.all %}
      {% for fli in passager.flights_passengers.all %}
         <div class="card my-1">
            <h2 class="card-title">
               Flight number: <a href="{% url 'airline:flight' fli.id %}">{{fli.id}}</a>
            </h2>
            <p>Start: <a href="{% url 'airline:airport' fli.start.airport_id %}">
               {{fli.start}} ({{fli.start.city}} in {{fli.start.country}})</a>
            </p>
            <p>Destination: <a href="{% url 'airline:airport' fli.destination.airport_id %}">
               {{fli.destination}} ({{fli.destination.city}} in {{fli.destination.country}})</a>
            </p>
            <p>Date: {{fli.date}}</p>
         </div>
      {% endfor %}
   {% else %}
      <p class="text-center display-3">No registered flight</p>
   {% endif %}
</section>
{% endblock %}
