{% extends "airline/index.html" %}
{% block content %}
<h1 class="align-middle text-center">Flights registered for: {{passager.first_name}} {{passager.surname}}</h1>
<table class="table table-striped table-bordered align-middle text-center ">
    <thead>
        <tr class="bg-info align-middle">
            <th>Flight number: </th>
            <th class="align-middle">Start:</th>
            <th class="align-middle">Destination: </th>
            <th class="align-middle">Date: </th>
        </tr>
    </thead>
    <tbody>
            {% if passager.flights %}
                {% for fli in passager.flights.all|dictsort:"date" %}
                <tr >
                    <td><a href="/airline/flight/{{fli.id}}">{{fli.id}}</a>  </td>
                    <td><a href="/airline/airport/{{fli.start.airport_id}}">{{fli.start}} ({{fli.start.city}} in {{fli.start.country}})</a></td>
                    <td><a href="/airline/airport/{{fli.destination.airport_id}}">{{fli.destination}} ({{fli.destination.city}} in {{fli.destination.country}})</a></td>
                    <td>{{fli.date}}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td>Sorry, currently no flight data are avaible</td>
            </tr>
            {% endif %}
    </tbody>
</table>
{% endblock %}