{% extends "airline/index.html" %}{% block title %}Route number: {{route.id}}{% endblock %}
{% block content %}
<div class="map">{{ map|safe }}</div>
<header>
   <h1 class="banner-text m-4 ">
      Flights from: <a class="link-secondary" href="{% url 'airline:airport' route.start.airport_id %}">{{route.start}}</a>
      to: <a class="link-secondary" href="{% url 'airline:airport' route.destination.airport_id %}">{{route.destination}}</a>
   </h1>
</header>
<section class="card-container">
   <div class="card m-2">
      <h2>Date of registered flight:</h2>
      <div class="mt-2">
         {% for fli in route.flights.all|dictsort:"date" %} 
            <a class="btn btn-success m-2" href="{% url 'airline:flight' fli.id %}">
            {{ fli.date|date:'H:i d-m' }}
            </a>
         {% endfor %}
      </div>
   </div>
</section>
{% endblock %}
