{% extends "airline/index.html" %}
{% block content %}

<table>
    <thead>
        <tr>
            <th>
                Wszystkie loty z <a href="/airline/airport/{{start_airport.airport_id}}">{{start_airport}}</a> do <a href="/airline/airport/{{destination_airport.airport_id}}">{{destination_airport}}:</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for fli in flight|dictsort:"date" %}
        <tr> 
            <td><a href="/airline/flight/{{fli.id}}">{{fli.id}}</a></td>
            <td>{{fli.date}}</td>
        </tr>
        {% endfor %}
 
    </tbody>
</table>
{% endblock %}
        