{% extends "airline/index.html" %}
{% block content %}
<form class="text-center border border-5 card rounded rounded-3 shadow p-5 mt-5" action="{% url 'user:login' %}" method="post">
    {% csrf_token %}
    <h1 class="display-4 fw-bold">Login</h1>
      <label class="col-form-label" for="username"><b>User Name</b></label>
      <input class="form-control form-control-lg mb-4" id="username" type="text" placeholder="Enter User Name: " name="username" required> 
      <label class="col-form-label" for="psw"><b>Password</b></label>
      <input class="form-control form-control-lg mb-4" id="psw" type="password" placeholder="Enter Password: " name="psw" required> 
    <button class="btn btn-success form-control form-control-sm" type="submit">Login</button> 
</form>
{% endblock %}