th, td {
    vertical-align: middle !important;
}

.background {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1140%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1141%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 451.14Q42.47 373.61%2c 120 416.07Q149.17 373.24%2c 192 402.41Q220.37 358.78%2c 264 387.15Q355.09 358.24%2c 384 449.32Q431.58 376.9%2c 504 424.48Q547.03 347.51%2c 624 390.54Q665.43 359.97%2c 696 401.4Q739.37 372.77%2c 768 416.14Q846.93 375.07%2c 888 454.01Q919.13 365.13%2c 1008 396.26Q1088.61 356.87%2c 1128 437.47Q1157.29 346.75%2c 1248 376.04Q1289.65 345.69%2c 1320 387.34Q1378.13 373.48%2c 1392 431.61Q1465.98 385.59%2c 1512 459.57z' fill='rgba(37%2c 70%2c 125%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 470.71Q53.83 452.54%2c 72 506.37Q76.44 438.81%2c 144 443.24Q178.32 405.56%2c 216 439.89Q287.22 439.11%2c 288 510.32Q296.9 447.22%2c 360 456.11Q388.14 412.25%2c 432 440.39Q483.22 419.61%2c 504 470.82Q530.68 425.5%2c 576 452.17Q668.66 424.84%2c 696 517.5Q716.22 465.72%2c 768 485.93Q804.47 402.4%2c 888 438.87Q958 388.87%2c 1008 458.87Q1071.84 450.7%2c 1080 514.54Q1081.84 444.38%2c 1152 446.22Q1217.32 391.54%2c 1272 456.85Q1322.94 435.8%2c 1344 486.74Q1416.21 438.96%2c 1464 511.17z' fill='rgba(53%2c 108%2c 177%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 576.18Q39.31 495.49%2c 120 534.81Q147.63 490.44%2c 192 518.08Q284.9 490.99%2c 312 583.89Q359.72 511.61%2c 432 559.33Q466.32 473.65%2c 552 507.98Q631.5 467.48%2c 672 546.97Q723.04 526.01%2c 744 577.06Q777.21 490.26%2c 864 523.47Q910.86 498.33%2c 936 545.19Q1012.16 501.36%2c 1056 577.52Q1083 484.52%2c 1176 511.52Q1217.76 481.28%2c 1248 523.05Q1330.99 486.04%2c 1368 569.03Q1375.77 504.8%2c 1440 512.57Q1481.38 481.96%2c 1512 523.34z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1140'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1141'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(227%2c 229%2c 232%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
}

.banner-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding: 1rem;
    color: white;
}


.custom-height {
    height: 100vh;
   overflow: hidden;
}

.map {
    max-height: 250px; 
    overflow: auto;
}

.airport-main {
    position: absolute;
    width: 100%;
}

.airport-title {
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.airport-border {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    overflow-x: auto;
}

.airport-container-title {
    overflow-x: auto;
}

.sign-container {
    position: fixed, width=100%;
}

.passager-td {
    width: 15%; 
    max-height: 10%; 
    overflow: hidden; 
    line-height: 1em;
}

.airport-link{
    color: black;
}

.hidden-element {
    display: none;
}