.background {
    background-size: cover;
    background-image: url("background.png");
    min-height: 100vh;
}

.banner-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    color: #142d4c;
}

.map {
    max-height: 250px; 
    overflow: hidden;
}