:root {
    --background: rgb(255, 255, 255);
    --background-image: url("background.png");
    --banner-text-color: rgb(20, 45, 76);
    --border: rgb(211, 211, 211);
    --dark-mode-image: url("night-mode-button.png");
    --navi-text-color: rgb(13, 110, 253);
    --text: rgb(0, 0, 0);
}

.background {
    background-image: var(--background-image);
    background-size: cover;
    height: max(100dvh, 800px);
}

.main {
    min-width: 300px;
    margin-top: min(50px, 25vh);
    margin-bottom: 25%;
    margin: auto;
    width: min(60vw, 500px);
}

.banner-text {
    color: var(--banner-text-color);
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.map {
    max-height: 250px; 
    overflow: hidden;
}

footer {
    align-items: left;
    background-color: var(--background);
    bottom:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    left:0;
    min-width:100%;
    position: fixed;
    padding: 5px 5px 5px 20px;
    text-align: left;
}

.logo {
    margin: 5px;
    height: 50px;
    width: 50px;
}

.logo-text {
    color: var(--text);
    text-decoration: none;
    text-overflow: ellipsis;
}

.card {
    background-color: var(--background);
    border: solid 5px var(--border);
    border-radius: 2%;
    box-shadow: 0px 0px 5px 1px var(--border);
    color: var(--text);
    font-weight: bold;
    max-width: 50dvh;
    padding: 40px;
    text-align: center;
}

.card-passager {
    max-width: none;
}

.card-title {
    margin: auto;
    min-width: 80%;
    padding: 5dvh;
    width: 80%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    background: transparent;
    background-image: var(--dark-mode-image);
    background-size: cover; 
    background-position: center; 
    border: none; 
    color: white;
    cursor: pointer;
    height: 50px;  
    width: 50px;
}

.toggle-background {
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
}

.nav-button {
    color:var(--navi-text-color);
    display:block;
    padding:.5rem 1rem;
    text-decoration:none;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}