.background {
    background-size: cover;
    background-image: url("background.png");
    height: max(100dvh, 800px);
}

.main {
    text-align: center;
    border: solid 5px lightgrey;
    border-radius: 2%;
    font-weight: bold;
    margin: auto;
    margin-top: min(50px, 25vh);
    margin-bottom: 25%;
    padding: 40px;
    box-shadow: 0px 0px 5px 1px lightgray;
    width: min(60vw, 500px);
    min-width: 300px;
}

.banner-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #142d4c;
    font-size: 40px;
}

.map {
    max-height: 250px; 
    overflow: hidden;
}

footer {
    display:flex;
    align-items: left;
    justify-content: flex-start;
    position: fixed;
    bottom:0;
    left:0;
    background-color: white;
    padding: 5px 5px 5px 20px;
    min-width:100%;
    flex-wrap: wrap;
    text-align: left;
}

.logo {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.logo-text {
    text-decoration: none;
    color: black;
    text-overflow: ellipsis;
}